<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <style>
        .shortURL {
            color: black;
            cursor: pointer;
        }

        .shortURL:hover {
            text-decoration: underline;
            color: #007FBB;
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper" class="bg-danger" style="min-height: 100vh;">
        <div class="d-flex flex-column bg-primary text-white" id="content-wrapper">
            <div id="content" style="margin-right: 5px;">
                <nav class="navbar navbar-light navbar-expand bg-white mb-4 topbar static-top">
                    <div class="container-fluid">
                        <div class="navbar-brand">
                            <img src="/images/logos/clickify.png" height="40px" alt="" srcset="">
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                              <a class="nav-item nav-link active" href="/user/dashboard">Dashboard <span class="sr-only">(current)</span></a>
                              <a class="nav-item nav-link" href="/user/profile">Profile</a>
                            </div>
                          </div>
                    </div>
                </nav>
                <div class="container-fluid mt-5">
                    <h3 class="text-white mb-4">Dashboard</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <form action="/user/addURL" method="POST">
                                <div class="form-row display-flex align-items-baseline form-group">
                                    <div class="col">
                                        <input type="text" name="linkTitle" id="linkTitle" placeholder="Enter a title for the short link" class="form-control"></div>
                                    <div class="col">
                                        <input type="text" name="fullURL" id="fullURL" placeholder="Enter full URL to shrink" class="form-control">
                                    </div>
                                        <div>
                                            <input type="submit" value="Shrink" class="btn btn-danger">
                                        </div>
                                </div>
                            </form>     
                        </div>
                    </div>
                    <% if(messages.success){ %>
                    <div class="alert alert-success">
                        <%= messages.success%>
                    </div>
                    <% } %>
                    <% if(messages.error){ %>
                    <div class="alert alert-danger">
                        <%= messages.error%>
                    </div>
                    <% } %>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Your Links</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th style="width: 320px;">Full URL</th>
                                            <th style="width: 267px;">Short URL</th>
                                            <th>Visits</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(userURLs) { %>
                                        <% userURLs.map((userURL)=>{ %>
                                        <tr>
                                            <td>
                                                <% if(userURL.linkTitle){ %>
                                                <%=userURL.linkTitle%>
                                                <%}
                                                         else { %>
                                                Untitled
                                                <% } %>
                                            </td>
                                            <td>
                                                <a href="<%= userURL.fullURL %>"><%= userURL.fullURL.slice(0,60) %></a>
                                            </td>
                                            <td>
                                                <a href="http://localhost:5500/<%= userURL.customShortURL %>"
                                                    target="_blank">
                                                    <%if(userURL.customShortURL){ %>
                                                    /<%= userURL.customShortURL %>
                                                    <% } 
                                                            else { %>
                                                    /<%= userURL.shortURL %>
                                                    <% } %>
                                                </a>
                                            </td>
                                            <td>
                                                <%= userURL.visits %>
                                            </td>
                                            <td>
                                                <a class="btn btn-info" href="dashboard/<%= userURL._id%>">
                                                    More Info
                                                </a>
                                                <a href="dashboard/delete/<%= userURL._id%>" class="btn btn-danger">
                                                    <i class="icon ion-android-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <% }) %>

                                        <% } %>
                                    </tbody>
                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
    <script>
        function copy(textToCopy) {
            navigator.clipboard.writeText(textToCopy);
            alert("URL Copied")
        }
    </script>
</body>

</html>